* {
    box-sizing: border-box;
}
.drop-dwn-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 100%;
    width: 100%;
    z-index: 100000;
    transition: all .5s;
}

.cart-head-container {
    font-size: 30px;
    color: #ea4c89;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropDownInner {
    padding: 5%;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}
.cart-item-container {
    margin-top: 20px;
}
.cart-item-main-container {
    margin-top: 40px;
}
.cart-item-container:last-child {
    margin-bottom: 50px;
}
.cart-item-wrapper {
    padding: 20px;
    /* border: 1px solid #ea4c89; */
    box-shadow: 0px 1px 12px 6px rgba(234,76,137,0.21);
    border-radius: 20px;
}

.cart-img-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}
.cart-img-inner {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.cart-img-inner img {
    width: 80px;
}
.cart-img-inner input {
    width: 100px;
}
.cart-price-desc-wrapper {
    /* width: 100px; */
}
.cart-desc-container {
    /* height: 100%; */
    /* width: 180px; */
}
.total-btn{
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.total-btn button {
    margin-inline: auto;
    border: none;
    background-color: #ea4c89;
    border-radius: 6px;
    color: #fff;
    padding: 8px 10px;
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    color: #fff;
    font-size: 17px;
}
.cart-desc-container h5 {
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    color: #808080;
    font-size: 17px;
}
.cart-price-desc-wrapper span {
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    color: #808080;
    font-size: 13px;
}
.dfdfdfd {
    padding-bottom: 70px;
}
.order-cont {
    display: flex;
    gap: 20px;
}
.order-cont button {
    padding-inline: 10px;
    border: none;
    background-color: #ea4c89;
    border-radius: 5px;
    cursor: pointer;
}
.order-cont button span {
    color: #fff;
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
}
.complete-order-form {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000052;
    display: none;
}
.complete-order-form-inner {
    background-color: #fff;
    box-shadow: 0px 1px 12px 6px rgba(234,76,137,0.21);
    width: 350px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 30px 30px;
    text-align: center;
    transition: all .4s;
    transform: scale(0);
}
.complete-order-form p {
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
    color: #808080;
    font-size: 14px;
    margin-bottom: 10px;
}
.inputs-wrapper {
    
}
.input-container {
    margin-bottom: 20px;
}
.inputs-wrapper input {
    border: 2px solid #ea4c89;
    border-radius: 5px;
    margin-top: 10px;
    padding-block: 8px;
    padding-inline: 10px;
    width: 100%;
    margin-top: 20px;
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
    color: #808080;
    font-size: 14px;
}
.cancel-form-btn {
    float: right;
    font-size: 17px;
    color: #ea4c89;
    cursor: pointer;

}
.inputs-wrapper input:first-child {
    margin-top: 0px;
}
.inputs-wrapper input:focus {
    outline: 0.5px solid #ea4c89;
}
.complete-order-form button {
    background-color: #ea4c89;
    margin-inline: auto;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto Serif', serif;
    font-weight: 900;
    font-size: 14px;
}
.reduce-btns {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.reduce-btns img {
    cursor: pointer;
}
@media (max-width: 750px) {
    .drop-dwn-container {
        width: 100%;
    }
}