* {
    margin: 0;
    padding: 0;
}
.nav-container {
    padding-block: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    /* padding-inline: 6%; */
    background-color: #fff;
}

.nav-inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    width: 88%;
    margin-inline: auto;
}
.logo-container p{
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    color: #808080;
    font-size: 28px;
}
.cart-icon {
    font-size: 20px;
}
.cart button {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background-color: #ea4c89;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
}